<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Портфолио студентов{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% if current_user.is_authenticated %}
    <nav class="navbar">
        <div class="navbar-brand">ИС Портфолио</div>
        <div class="navbar-user">
            Роль: <strong>{{ current_user.role }}</strong> | Логин: {{ current_user.username }}
            <a href="{{ url_for('logout') }}" class="logout-link">Выйти</a>
        </div>
    </nav>
    {% endif %}

    <div class="container">
        <!-- Блок вывода серверных Flash-уведомлений -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Место для динамического контента -->
        {% block content %}{% endblock %}
    </div>

</body>
</html>
